.bodyContainer {
    width: 100%;
    height: calc(1440px - 208px - 164px);
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}